<% subtabs_for(:content) %>
<% form_for [:admin, @category], :url => (@category.new_record? ? admin_categories_path : admin_category_path(:id => @category.id)) do |f| %>
  <div class="admin">
    <%= render :partial => "form" %>
  </div>
  <%= cancel_or_save %>
<% end %>
